version: "3.9"

services:
  db:
    image: postgres:16
    env_file:
      - config.env
    ports:
      - "55432:5432"
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
    command: postgres -c max_connections=300 -c deadlock_timeout=5s
    restart: unless-stopped

  app:
    build: .
    depends_on:
      - db
    env_file:
      - config.env
    ports:
      - "8080:8080"
    restart: unless-stopped
